footer
    width 1040px
    height 200px
    margin 0 auto
    padding 20px 110px 35px 50px
    border-top 1px solid $texto
    display flex
    align-items flex-start
    justify-content space-between
    position relative
    bottom 0 
    +below($tablet)
        width 80%
        padding 20px 80px 30px 40px
    +mobile()
        height 250px
        padding 20px 0
        flex-direction column
        align-items center
    .redes-sociais
        padding-top 5px
        +mobile()
            padding 0
            margin-bottom 25px
            display flex
            flex-wrap wrap
            align-items center
            justify-content center
        .whatsapp
            +mobile()
                width 100%
                height 20px
                display flex
                align-items center
                justify-content center
                margin-bottom 10px
            .texto-whatsapp
                margin 0 0 20px 0
                notosans(14)
                color $texto
                +below($tablet)
                    font-size 12px
                +mobile()
                    margin 0
            .img-rede
                width 23px
                margin 0 3px
                transition transform 0.2s
                +below($tablet)
                    width 20px
                +mobile()
                    margin-right 10px
             &:hover
                .img-rede 
                    transform scale(1.3)
        .redes
            display flex
            height 23px
            +below($tablet)
                height 20px
            +mobile()
                margin-right 10px
            .facebook, .instagram
                height 100%
                margin 0 3px
                .img-rede
                    height 100%
                    transition transform 0.2s
                &:hover
                    img 
                        transform scale(1.3)
            .instagram
                margin 0 0 0 7px
                .img-rede
                    width 23px
                    +below($tablet)
                        width 20px
        .texto-redes
            margin 3px 0 0 0
            notosans(14)
            color $texto
            +below($tablet)
                font-size 12px
            +mobile()
                margin 0
    .informacoes
        display flex
        align-items flex-start
        .logo-footer
            width 80px
            margin-right 20px
            +below($tablet)
                width 70px
            +mobile()
                width 60px
            .img-logo
                width 100%
                transition transform 0.5s
                &:hover
                    transform rotate(360deg)
        .dados
            .showroom
                notosans(14, bold)
                color $texto
                margin 0
                line-height 1.3
                +below($tablet)
                    font-size 12px
            .endereco, .bairro-cidade, .cep
                notosans(12)
                color $texto
                margin 0
                line-height 1.3
                +below($tablet)
                    font-size 10px
            .link-mapa
                notosans(12)
                color $texto
                display block
                margin 0 0 15px 0
                line-height 1.3
                transition .2s ease
                +below($tablet)
                    font-size 10px
                &:hover
                    color $azul
                    font-weight 500
            .telefone, .celular, .email
                display block
                notosans(14, bold)
                color $texto
                margin 0
                transition .2s ease
                +below($tablet)
                    font-size 12px
                &:hover
                    color $azul
            .design
                display flex
                notosans(10)
                color $texto
                margin-top 10px
                transition .2s ease
                +below($tablet)
                    font-size 9px
                .link-design
                    margin-left 3px
                    notosans(10)
                    color $texto
                    text-decoration underline
                    transition .2s ease
                    +below($tablet)
                        font-size 9px
                &:hover
                    color $azul
                    font-weight 500
                    .link-design
                        color $azul
                        font-weight 500
    &.footer-contato
        flex-direction column
        align-items flex-end
        padding 20px 0
        height 70px
        .direitos
            display flex
            margin 0
            .dados-direitos
                margin 0
                notosans(10)
                color $texto
                +below($tablet)
                    font-size 9px
        .design
            display flex
            notosans(10)
            color $texto
            margin-top 10px
            transition .2s ease
            +below($tablet)
                font-size 9px
            .link-design
                margin-left 3px
                notosans(10)
                color $texto
                text-decoration underline
                transition .2s ease
                +below($tablet)
                    font-size 9px
            &:hover
                color $azul
                font-weight 500
                .link-design
                    color $azul
                    font-weight 500