header
    width 100%
    height 130px
    background-color #F1ECE9
    top 0
    left 0
    z-index 999
    position fixed 
    .centralizado
        width 1040px
        height 100%
        margin 0 auto
        display flex
        align-items center
        justify-content flex-end
        +below($tablet)
            width 80%
        .idiomas
            width auto
            display flex
            flex-direction column
            align-items flex-end
            justify-content center
            margin-right 50px
            .lang
                notosans(14)
                margin 1.5px 0
                +below($tablet)
                    font-size 12px
                +mobile()
                    font-size 10px
                    margin 2px 0
                &:hover
                    font-weight 600
        .logo-header
            margin-right 30px
            .img-logo
                width 100%
                transition transform 0.5s
                &:hover
                    transform rotate(360deg)
        nav
            width 450px
            height 100%
            +below($tablet)
                position absolute
                display none
                background-color #F1ECE9
                width 100%
                left 0
                height auto
                top 130px
                padding 10px 0 30px 0
                z-index 99
            div.itens-menu
                width 100%
                height 100%
                display flex
                flex-direction row
                align-items center
                justify-content space-between
                +below($tablet)
                    width 80%
                    margin 0 auto
                    flex-direction column
                    align-items flex-end
                .link-nav
                    position relative
                    notosans(16)
                    color $texto
                    transition .2s ease
                    .link-hover
                        display none
                        transition .2s ease
                    &:hover
                    &:focus 
                    &.active
                        color $azul
                        .link-hover
                            display block
                            width 10px
                            height 10px
                            background-color $azul
                            border-radius 50%
                            position absolute
                            top -12px
                            margin 0 auto 0 0
                            +below($tablet)
                                top 5px
                                left -15px
                span.ponto
                    notosans(16, medium)
                    color $texto
                .redes-sociais
                    display flex
                    align-items center
                    height 18px
                    margin-left 15px
                    +below($tablet)
                        margin-left 0
                        margin-top 15px
                    .facebook, .instagram, .whatsapp
                        height 100%
                        margin 0 10px 0 0
                        display flex
                        .img-rede
                            transition transform 0.2s
                        &:hover
                            img 
                                transform scale(1.3)
                    .whatsapp
                        margin 0

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 40%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 0 0 auto
    +mobile()
        height 20%
    .lines
        display block
        width 100%
        height 4px
        background-color $texto
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color $texto
            transition .3s ease
            border-radius 3px
        &.internas
            background-color $texto
            &:before
            &:after
                background-color $texto
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            z-index 9999
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        notosans(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 12px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        notosans(14)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid $tomate
            background-color $tomate
        +below($tablet)
            font-size 12px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px