html
body
    height 100%
    font-family 'Noto Sans JP', 'Montserrat', 'Helvetica', 'Arial', sans-serif
body
    background-color #FFF
    margin 0
    padding 0
    overflow-x hidden
    position relative
    section
        min-height calc("100% - 200px - 130px")
        +mobile()
            min-height calc("100% - 250px - 130px")
    +below($tablet)
        min-height auto
        .center
            width 100%
            .content
                width 100%
                float none
    +mobile()
        min-height auto
        .wrapper
            width 100%
            .center .content
                width 100%
