.painel-login
    background linear-gradient(90deg, #185a9d 10%, #43cea2 120%)
    .login
        padding 30px
        background #fff
        border-radius 5px
        margin 100px auto 0
        float none
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
        +below(768px)
            margin-top 30px
    .input-group
        margin-bottom 5px
    h3
        margin 0 0 30px
        small
            display block
            margin-top 10px

td
    vertical-align middle !important

.cke
    border 2px solid #dce4ec !important
    border-radius 4px
    transition border .3s !important
.cke_editable
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 15px !important
.cke_focus
    border-color #2c3e50 !important

.multiselect
    text-align left !important

// ADICIONAL PARA ESTE PROJETO
.titulo-filtro
    float left
    margin-bottom 10px
.lista-filtro
    width 100%
    display flex
    align-items center
    justify-content flex-start
    flex-flow wrap
    margin-bottom 30px
    .item
        width auto
        border 2px solid #18bc9c
        background-color #18bc9c
        border-radius 5px
        padding 5px 10px
        color #FFF
        text-decoration none
        text-transform lowercase
        margin 5px 5px 0 0
        font-size 12px !important
        &:focus
        &:hover
            border 2px solid #13967d
            background-color #13967d
        &.active
            border 2px solid #13967d
            background-color #13967d
.observacao
    color red
    font-style italic