section.contato
    width 100%
    min-height calc("100% - 130px - 200px")
    margin 160px 0 30px 0
    position relative
    +mobile()
        height auto
    .centralizado
        width 1040px
        margin 0 auto
        display flex
        position relative
        +below($tablet)
            width 80%
        +mobile()
            flex-direction column
            align-items center
        .dados-contato
            width 640px
            position relative
            display flex
            align-items flex-start
            padding 40px 50px
            +below($tablet)
                width 65%
                padding 30px 40px
            +mobile()
                width 100%
                flex-direction column
                padding 0 0 30px 0
            .img-contato
                width 160px
                height auto
                object-fit contain
                +below($tablet)
                    width 150px
            .dados
                padding 15px 50px
                +below($tablet)
                    padding 10px 40px
                +mobile()
                    padding 20px 0
                .redes-sociais
                    display flex
                    align-items center
                    height 20px
                    +below($tablet)
                        height 18px
                    .facebook, .instagram, .whatsapp
                        height 100%
                        margin 0 8px 0 0
                        display flex
                        .img-rede
                            transition transform 0.2s
                        &:hover
                            img 
                                transform scale(1.3)
                    .whatsapp
                        margin 0
                .showroom
                    notosans(14, bold)
                    color $texto
                    margin 10px 0 0 0
                    line-height 1.3
                    +below($tablet)
                        font-size 12px
                .endereco, .bairro-cidade, .cep
                    notosans(12)
                    color $texto
                    margin 0
                    line-height 1.3
                    +below($tablet)
                        font-size 10px
                .link-mapa
                    notosans(12)
                    color $texto
                    display block
                    margin 0 0 15px 0
                    line-height 1.3
                    transition .2s ease
                    +below($tablet)
                        font-size 10px
                    &:hover
                        color $azul
                        font-weight 500
                .telefone, .celular, .email
                    display block
                    notosans(14, bold)
                    color $texto
                    margin 0
                    transition .2s ease
                    +below($tablet)
                        font-size 12px
                    &:hover
                        color $azul
        .form-contato
            width 400px
            position relative
            +below($tablet)
                width 35%
            +mobile()
                width 100%
            form
                width 80%
                margin 0 auto
                display flex
                flex-direction column
                align-items center
                +below($tablet)
                    width 100%
                div.checkbox
                    width 100%
                    display flex
                    align-items center
                    justify-content flex-end
                    margin-bottom 10px
                    input[type=checkbox]
                        position: relative
                        width 15px
                        height 15px
                        border 1px solid $texto
                        border-radius 0
                        cursor pointer
                        appearance none
                        +below($tablet)
                            width 13px
                            height 13px
                        &:before
                            position absolute
                            content ""
                            display block
                            top 0
                            left 5px
                            width 4px
                            height 10px
                            border-style solid
                            border-color #fff
                            border-width 0 2px 2px 0
                            transform rotate(45deg)
                            opacity 0
                            +below($tablet)
                                left 4px
                                width 4px
                                height 8px
                        &:checked
                            color #fff
                            border-color $azul
                            background $azul
                            &:before
                                opacity 1
                    > label
                        notosans(10)
                        color $texto
                        margin 0 0 0 5px
                input[type=text]
                input[type=email]
                    width 100%
                    height 30px
                    border none
                    border-bottom 1px solid $texto
                    outline none
                    padding 5px
                    margin 0 0 20px 0
                    notosans(12)
                    color $texto
                    transition all 0.1s ease
                    +below($tablet)
                        font-size 10px
                    +placeholder()
                        notosans(12)
                        color $texto
                        background-color #FFF
                        +below($tablet)
                            font-size 10px
                    &:hover
                    &:focus
                        border-bottom 1px solid $azul
                        color $azul
                        +placeholder()
                            color $azul
                textarea
                    width 100%
                    height 90px
                    border 1px solid $texto
                    outline none
                    resize none
                    padding 5px
                    margin 0 0 15px 0
                    notosans(12)
                    color $texto
                    transition all 0.1s ease
                    +below($tablet)
                        font-size 10px
                    +placeholder()
                        notosans(12)
                        color $texto
                        background-color #FFF
                        +below($tablet)
                            font-size 10px
                    &:hover
                    &:focus
                        border-bottom 1px solid $azul
                        color $azul
                        +placeholder()
                            color $azul
                .btn-contato
                    width 100px
                    height 30px
                    notosans(12)
                    color #FFF
                    background-color $azul
                    border 1px solid $azul
                    border none
                    outline none 
                    cursor pointer
                    transition background .5s ease-in-out
                    margin 0 auto 0 0
                    +below($tablet)
                        width 80px
                        font-size 10px
                    &:hover
                    &:focus
                        background-color #FFF
                        border 1px solid $azul
                        color $azul
            clearfix()
            .flash
                position relative
                display flex
                align-items center
                justify-content center
                margin 10px 0
                width 100%
                height 30px
                notosans(12)
                padding 5px 10px
                border-radius 0
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff