section.home
    width 100%
    height auto
    margin-top 130px
    .topo-banners
        width 100%
        height 470px
        background-image linear-gradient(to bottom, #F1ECE9 0%, #F1ECE9 50%, #FFF 51%, #FFF 100%)
        display flex
        justify-content center
        +below($tablet)
            height 400px
        +mobile()
            height 550px
            flex-direction column
        .left
            width 520px
            height 100%
            margin 0 0 0 calc("(100% - 1040px) / 2")
            +below($tablet)
                width calc("80% / 2")
                margin 0 0 0 10%
            +mobile()
                width 80%
                height 50%
                margin 0 auto
                display flex
                flex-direction column-reverse
            div.titulo-banner
                margin 0
                width 100%
                height 50%
            .icones
                width 100%
                height 50%
                display flex
                align-items flex-end
                justify-content space-around
                padding 0 30px 55px 0
                +below($tablet)
                    justify-content space-between
                    padding 0 40px 35px 10px
                +mobile()
                    padding 0 0 30px 0
                .poltronas, .bancos, .banquetas, .decoracao
                    width 100px
                    height 100px
                    padding 0
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 90px
                        height 90px
                    .img-icone
                        background-repeat no-repeat
                        background-size contain
                        background-position 50% 0
                        transition background .3s linear
                    .titulo
                        max-height 25%
                        notosans(16)
                        color $texto
                        margin auto 0 0 0
                        +below($tablet)
                            font-size 14px
                .poltronas
                    .img-icone
                        width 59px
                        height 70px
                        background-image $img("icone-poltronas-home.svg")
                        +below($tablet)
                            width 49px
                            height 60px
                    &:hover
                        .img-icone
                            background-image $img("icone-poltronas-home-hover.svg")
                        .titulo
                            color $amarelo
                .bancos, .banquetas
                    .img-icone
                        width 59px
                        height 70px
                        background-image $img("icone-bancos-home.svg")
                        +below($tablet)
                            width 49px
                            height 60px
                    &:hover
                        .img-icone
                         background-image $img("icone-bancos-home-hover.svg")
                        .titulo
                            color $azul
                .decoracao
                    .img-icone
                        width 69px
                        height 70px
                        background-image $img("icone-decoracao-home.svg")
                        +below($tablet)
                            width 59px
                            height 60px
                    &:hover
                        .img-icone
                            background-image $img("icone-decoracao-home-hover.svg")
                        .titulo
                            color $tomate
        .banners
            width 770px
            height 430px
            margin 40px calc("50% - 770px") 0 0
            position relative
            +below($tablet)
                width 50%
                height 370px
                margin 30px 0 0 0
            +mobile()
                width 100%
                height 50%
                margin 0
            .banner
                width 100%
                height 420px
                top 0
                left 0
                background-size cover
                background-position center
                object-fit cover
                +below($tablet)
                    height calc("100% - 10px")
                h1.frase-banner
                    width 400px
                    position absolute
                    left -62%
                    top 0 
                    notosans(32)
                    color $texto
                    +below($tablet)
                        width 320px
                        left -75%
                        font-size 26px
                    +mobile()
                        width 80%
                        left 10%
                        top -150px
                        font-size 24px
                        text-align center
                    > p
                        margin 0
                        line-height 1.2
                        > strong
                            font-weight 800
            .img-faixa-colorida
                position relative
                top -6px
                left 0
                +below($tablet)
                    width 80%
                    top -8px
                +mobile()
                    top -10px
            .cycle-pager 
                width 20px
                height auto
                display flex
                flex-direction column
                align-items center
                position absolute
                bottom 35px
                left 25px
                z-index 500
                padding 0
                background transparent
                margin 0 auto 0 0
                +below($tablet)
                    width 15px
                    left 20px
                    bottom 25px
                span 
                    height 18px
                    width 18px
                    border-radius 50%
                    border 1px solid #FFF
                    color transparent
                    background-color transparent
                    transition-property background-color
                    transition-duration 300
                    cursor pointer
                    margin 2px 0
                    +below($tablet)
                        width 14px
                        height 14px
            .cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
                background-color #FFF
    .artista
        width 1040px
        height 400px
        margin 100px auto
        display flex
        align-items flex-start
        position relative
        +below($tablet)
            width 80%
            height 350px
            margin 80px auto
        +mobile()
            flex-direction column
            margin 60px auto
            height 650px
        .apresentacao
            width 50%
            height 100%
            position relative
            +mobile()
                width 100%
                height 300px
            .dados
                width 420px
                height 100%
                background-color $amarelo
                padding 80px 30% 20px 50px
                position relative
                +below($tablet)
                    width 80%
                    padding 80px 25% 20px 30px
                +mobile()
                    padding 50px 25% 10px 20px
                h4.titulo
                    notosans(20)
                    color $azul
                    margin 0
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        font-size 16px
                h2.nome
                    notosans(28, bold)
                    color $azul
                    margin 5px 0
                    +below($tablet)
                        font-size 24px
                    +mobile()
                        font-size 20px
                p.frase
                    notosans(15, medium)
                    color #FFF
                    text-transform uppercase
                    margin 0
                    line-height 1.8
                    padding-right 10px
                    +below($tablet)
                        font-size 14px
                        padding-right 15px
                    +mobile()
                        font-size 12px
                        padding-right 10px
            .capa-artista
                width 240px
                height 340px
                position absolute
                top 30px
                right 0
                +below($tablet)
                    width 45%
                    height 270px
                    top 40px
                +mobile()
                    height 225px
                    top 40px
                .img-artista
                    width 100%
                    height 100%
                    object-fit cover
        .sobre
            width 50%
            height 100%
            padding 30px 45px
            display flex
            flex-direction column
            align-items flex-start
            justify-content center
            +mobile()
                width 100%
                height 325px
                margin-top 25px
                padding 20px 20px 20px 10px
            .texto-artista
                notosans(16)
                color $texto
                +below($tablet)
                    font-size 14px
                > p
                    margin 0 0 20px 0
                    line-height 1.8
                    +below($tablet)
                        margin 0 0 15px 0
                    > strong
                        font-weight 800
            .btn-conheca
                width 85px
                height 35px
                background-color $azul
                notosans(12, bold)
                color #FFF
                display flex
                align-items center
                justify-content center
                margin-top 20px
                transition background .3s ease-in-out
                +below($tablet)
                    margin-top 15px
                &:hover
                    background-color $amarelo
    .design
        width 100%
        height 600px
        position relative
        object-fit cover
        margin-bottom 30px
        background-attachment fixed
        +below($tablet)
            height 450px
        +mobile()
            background-position center
        .centralizado
            width 1040px
            height 100%
            margin 0 auto
            position relative
            +below($tablet)
                width 80%
            .dados-design
                width 700px
                height 450px
                position relative
                top 75px
                left 0
                background-color #F1ECE9
                padding 40px 60px
                +below($tablet)
                    width 65%
                    height 360px
                    top 40px
                    padding 30px 40px
                +mobile()
                    width 100%
                    height 350px
                    top 30px
                    padding 20px
                h4.titulo
                    notosans(20, medium)
                    color $tomate
                    margin 0
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        font-size 14px
                p.subtitulo
                    notosans(28, bold)
                    color $tomate
                    margin 10px 0 15px 0
                    line-height 1.5
                    +below($tablet)
                        font-size 22px
                        line-height 1
                        margin 10px 0 15px 0
                    +mobile()
                        font-size 18px
                div.texto-design
                    notosans(16)
                    color $texto
                    +below($tablet)
                        font-size 13px
                    +mobile()
                        font-size 11px
                    > p
                        margin 0 0 20px 0
                        +below($tablet)
                            margin 0 0 15px 0
                        +mobile()
                            margin 0 0 10px 0
                        > strong
                            font-weight 800
                a.instagram
                    display flex
                    align-items center
                    margin-top 40px
                    +below($tablet)
                        margin-top 30px
                    +mobile()
                        margin-top 20px
                    .img-instagram
                        width 35px
                        margin-right 5px
                        transition transform 0.5s
                        +below($tablet)
                            width 25px
                        +mobile()
                            width 30px
                    .texto-instagram
                        width auto
                        height 35px
                        padding 0 15px
                        border 1px solid $tomate
                        background-color $tomate
                        notosans(16, bold)
                        color #FFF
                        display flex
                        align-items center
                        transition background .5s ease-in-out
                        +below($tablet)
                            height 25px
                            padding 0 10px
                            font-size 12px
                            font-weight 500
                        +mobile()
                            height 30px
                            font-size 10px
                            font-weight 400
                            padding 0 5px
                    &:hover
                        .img-instagram
                            transform rotate(360deg)
                        .texto-instagram
                            background-color #FFF
                            color $tomate
                        