section.politica-de-privacidade
    position relative
    width 1300px
    margin 160px auto 30px auto
    +below($tablet)
        width 90%
    .titulo
        notosans(32, medium)
        color $texto
        margin-bottom 30px
        +below($tablet)
            font-size 24px
        +mobile()
            font-size 20px
    .texto
        position relative
        background-color transparent
        width 100%
        height auto
        padding 0
        notosans(16)
        color $texto
        +below($tablet)
            font-size 14px
        +mobile()
            font-size 12px
        p
            margin 0 0 20px 0
            text-align left
            line-height 1.7
            +below($tablet)
                margin 0 0 15px 0

