section.produtos-detalhes
    width 100%
    height auto
    margin 160px 0 30px 0
    position relative
    .centralizado
        width 1040px
        margin 0 auto
        display flex
        position relative
        +below($tablet)
            width 80%
        +mobile()
            flex-direction column
        .submenu
            width calc("100% - 780px")
            padding 20px 0 0 50px
            display flex
            flex-direction column
            align-items flex-start
            position relative
            +below($tablet)
                width 20%
                padding 10px 0 0 0
            +mobile()
                width 100%
                padding 0 0 20px 0
            .categoria
                width 140px
                padding 7px 0
                border-bottom 1px solid $texto
                display flex
                align-items center
                notosans(14)
                color $texto
                transition .3s ease-in-out
                +below($tablet)
                    width 80%
                    font-size 12px
                +mobile()
                    width 100%
                .img-poltrona, .img-banco, .img-decoracao
                    width 34px
                    height 40px
                    margin-right 10px
                    transition background-image .3s ease-in-out
                .img-poltrona
                    background-image $img("icone-poltronas.svg")
                .img-banco
                    background-image $img("icone-bancos.svg")
                .img-decoracao
                    height 41px
                    background-image $img("icone-decoracao.svg")
                &.decoracao
                    border-bottom none
                &.active
                    font-weight 600
                &.poltronas.active
                &.poltronas:hover
                    color $amarelo
                    .img-poltrona
                        background-image $img("icone-poltronas-amarelo.svg")
                &.bancos.active
                &.bancos:hover
                &.banquetas.active
                &.banquetas:hover
                    color $azul
                    .img-banco
                        background-image $img("icone-bancos-azul.svg")
                &.decoracao.active
                &.decoracao:hover
                    color $tomate
                    .img-decoracao
                        background-image $img("icone-decoracao-vermelho.svg")
        .produto-dados
            width 780px
            height auto
            position relative
            +below($tablet)
                width 80%
            +mobile()
                width 100%
            .caminho
                notosans(12)
                color #BFBEC1
                margin 0
                display flex
                align-items center
                text-transform uppercase
                +below($tablet)
                    font-size 10px
                > span
                    notosans(10)
                    color #BFBEC1
                    margin 0 5px
                    +below($tablet)
                        font-size 8px
                > strong
                    notosans(12)
                    color $texto
                    text-transform uppercase
                    margin 0
                    +below($tablet)
                        font-size 10px
            .produto
                width 100%
                height auto
                margin 10px 0 20px 0
                display flex
                position relative
                +mobile()
                    flex-direction column
                    align-items flex-start
                .produto-imagens
                    width 340px
                    height auto
                    position relative
                    +below($tablet)
                        width 40%
                    +mobile()
                        width 100%
                    .capa-produto
                        .img-capa
                            width 340px
                            height 340px
                            margin-bottom 15px
                            object-fit cover
                            +below($tablet)
                                width 100%
                                height 250px
                    .imagens
                        width 100%
                        display flex
                        flex-wrap wrap
                        .variacao
                            width 77.5px
                            height 80px
                            margin 0 10px 10px 0
                            +below($tablet)
                                width 22.1%
                                height 60px
                            +mobile()
                                width 22.5%
                            .img-variacao
                                max-width 100%
                                max-height 100%
                                object-fit cover
                                +below($tablet)
                                    width 100%
                .produto-infos
                    width calc("100% - 340px")
                    height auto
                    padding 10px 60px
                    +below($tablet)
                        width 60%
                        padding 10px 45px
                    +mobile()
                        width 100%
                        padding 20px 0
                    h4.titulo
                        notosans(20)
                        font-weight 800
                        color $texto
                        margin 0 0 10px 0
                        +below($tablet)
                            font-size 16px
                    .descricao
                        notosans(12)
                        color $texto
                        margin 0 0 25px 0
                        +below($tablet)
                            font-size 10px
                            margin 0 0 20px 0
                        > p
                            notosans(12)
                            color $texto
                            margin 0 0 10px 0
                            line-height 1.5
                            +below($tablet)
                                font-size 10px
                    .peso, .altura, .largura, .profundidade, .diametro
                        notosans(12)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 10px
                        > span 
                            font-weight 600
                    .img-desenho
                        max-width 100%
                        max-height 80px
                        margin 20px 0
                    .btn-mais-informacoes
                        width 175px
                        height 35px
                        margin 0 auto 20px 0
                        background-color $azul
                        notosans(11)
                        color #FFF
                        display flex
                        align-items center
                        justify-content center
                        border none
                        outline none
                        cursor pointer
                        transition background .5s ease-in-out
                        +below($tablet)
                            width 160px
                            height 30px
                            font-size 10px
                        &:hover
                            background-color $tomate
                    clearfix()
                    .flash
                        position relative
                        display flex
                        align-items center
                        justify-content center
                        margin 0 0 20px 0
                        width 100%
                        height 30px
                        notosans(12)
                        padding 5px 10px
                        border-radius 0
                        > p
                            margin 0
                        &.flash-erro
                            border 2px solid $vermelho
                            background $vermelho
                            color #fff
                        &.flash-sucesso
                            border 2px solid $verde
                            background $verde
                            color #fff
                    .frase1
                        notosans(12, medium)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 10px
                    .frase2
                        notosans(12, thin)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 10px
                    .btn-fale-conosco
                        margin 0 auto 10px 0
                        display flex
                        align-items center
                        justify-content flex-start
                        .texto-btn
                            width 175px
                            height 35px
                            background-color $amarelo
                            display flex
                            align-items center
                            justify-content center
                            notosans(11)
                            color #FFF
                            transition background .5s ease-in-out
                            +below($tablet)
                                width 160px
                                height 30px
                                font-size 10px
                        .img-wpp
                            margin-left 10px
                            transition transform .5s
                        &:hover
                            .texto-btn
                                background-color $tomate
                            .img-wpp
                                transform rotate(360deg)
                    .btns-ant-prox
                        width 100%
                        display flex
                        flex-direction row
                        align-items center
                        margin-top 50px
                        +below($tablet)
                            margin-top 30px
                        .btn-anterior, .btn-proximo
                            notosans(12, bold)
                            color $texto
                            transition .1s ease-in-out
                            +mobile()
                                font-size 18px
                            &:hover
                                color $azul
                        .btn-anterior
                            margin 0 auto 0 0
                        .btn-proximo
                            margin 0 0 0 auto

// MODAL MAIS INFORMAÇÕES
.modal
    background-color rgba(132, 134, 136, 0.88)
    position fixed
    width 100%
    height 100%
    top 0
    flex-direction column
    align-items center
    z-index 999 !important
    ouline none
    .btn-close
        position relative
        width 650px
        outline none
        border none 
        background-color transparent
        notosans(20, bold)
        color #FFF
        text-align end
        top 35px
        padding 0
        cursor pointer
        margin-bottom 5px
        transition all 0.1s ease
        +below($tablet)
            width 50% !important
        +mobile()
            width 80% !important
        &:hover
        &:focus
            color #DCDCDC
    .modal-dialog
        width 650px !important
        height 470px !important
        margin 35px auto
        background-color #FFF
        overflow-y hidden
        +below($tablet)
            width 50% !important
            height auto !important
            overflow-y auto !important
        +mobile()
            width 80% !important
        .modal-content
            width 100%
            height 100%
            padding 50px
            border none
            border-radius 0
            display flex
            flex-direction column
            align-items center
            +below($tablet)
                padding 30px
            +mobile()
                padding 20px
            h4.modal-titulo
                notosans(14, bold)
                color $azul
                margin 0 0 30px 0
                text-align center
                +below($tablet)
                    font-size 12px
                    margin 0 0 20px 0
            form
                width 100%
                display flex
                flex-direction column
                align-items center
                input[type=text]
                input[type=email]
                    width 100%
                    height 30px
                    border none
                    border-bottom 1px solid $texto
                    outline none
                    padding 5px
                    margin 0 0 20px 0
                    transition all 0.1s ease
                    notosans(12)
                    color $texto
                    +below($tablet)
                        font-size 10px
                    +placeholder()
                        notosans(12)
                        color $texto
                        background-color #FFF
                        +below($tablet)
                            font-size 10px
                    &:hover
                    &:focus
                        color $azul
                        border-bottom 1px solid $azul
                        +placeholder()
                            color $azul
                textarea
                    width 100%
                    height 120px
                    border 1px solid $texto
                    outline none
                    resize none
                    padding 5px
                    margin 0 0 20px 0
                    notosans(12)
                    color $texto
                    transition all 0.1s ease
                    +below($tablet)
                        font-size 10px
                    +placeholder()
                        notosans(12)
                        color $texto
                        background-color #FFF
                        +below($tablet)
                            height 90px
                            font-size 10px
                    &:hover
                    &:focus
                        color $azul
                        border-bottom 1px solid $azul
                        +placeholder()
                            color $azul
                .btn-enviar
                    width 100px
                    height 30px
                    notosans(12)
                    color #FFF
                    background-color $azul
                    border 1px solid $azul
                    border none
                    outline none 
                    cursor pointer
                    transition background .5s ease-in-out
                    +below($tablet)
                        width 80px
                        font-size 10px
                    &:hover
                    &:focus
                        background-color #FFF
                        border 1px solid $azul
                        color $azul
            