section.produtos-categorias
    width 100%
    height auto
    margin 160px 0 30px 0
    position relative
    .centralizado
        width 1040px
        margin 0 auto
        display flex
        position relative
        +below($tablet)
            width 80%
        +mobile()
            flex-direction column
        .submenu
            width calc("100% - 780px")
            padding 20px 0 0 50px
            display flex
            flex-direction column
            align-items flex-start
            position relative
            +below($tablet)
                width 20%
                padding 10px 0 0 0
            +mobile()
                width 100%
                padding 0 0 20px 0
            .categoria
                width 140px
                padding 7px 0
                border-bottom 1px solid $texto
                display flex
                align-items center
                notosans(14)
                color $texto
                transition .3s ease-in-out
                +below($tablet)
                    width 80%
                    font-size 12px
                +mobile()
                    width 100%
                .img-poltrona, .img-banco, .img-decoracao
                    width 34px
                    height 40px
                    margin-right 10px
                    transition background-image .3s ease-in-out
                .img-poltrona
                    background-image $img("icone-poltronas.svg")
                .img-banco
                    background-image $img("icone-bancos.svg")
                .img-decoracao
                    height 41px
                    background-image $img("icone-decoracao.svg")
                &.decoracao
                    border-bottom none
                &.active
                    font-weight 600
                &.poltronas.active
                &.poltronas:hover
                    color $amarelo
                    .img-poltrona
                        background-image $img("icone-poltronas-amarelo.svg")
                &.bancos.active
                &.bancos:hover
                &.banquetas.active
                &.banquetas:hover
                    color $azul
                    .img-banco
                        background-image $img("icone-bancos-azul.svg")
                &.decoracao.active
                &.decoracao:hover
                    color $tomate
                    .img-decoracao
                        background-image $img("icone-decoracao-vermelho.svg")
        .produtos-categoria
            width 780px
            height auto
            position relative
            +below($tablet)
                width 80%
            +mobile()
                width 100%
            .caminho
                notosans(12)
                color #BFBEC1
                margin 0
                display flex
                align-items center
                +below($tablet)
                    font-size 10px
                > span
                    notosans(10)
                    color #BFBEC1
                    margin 0 5px
                    +below($tablet)
                        font-size 8px
                > strong
                    notosans(12)
                    color $texto
                    text-transform uppercase
                    margin 0
                    +below($tablet)
                        font-size 10px
            .categoria
                width 100%
                height 225px
                margin 10px 0 20px 0
                display flex
                position relative
                +below($tablet)
                    height 200px
                +mobile()
                    height 160px
                .img-categoria
                    width 515px
                    height 100%
                    object-fit cover
                    +below($tablet)
                        width 70%
                    +mobile()
                        width 60%
                .frase-categoria
                    width calc("100% - 515px")
                    height 100%
                    background-color $amarelo
                    notosans(22, medium)
                    color #FFF
                    padding 35px
                    display flex
                    align-items center
                    justify-content center
                    line-height 1.2
                    +below($tablet)
                        width 30%
                        font-size 18px
                        padding 28px
                    +mobile()
                        width 40%
                        font-size 14px
                        padding 15px
                .img-faixa-colorida
                    position absolute
                    bottom 0
                    right 17%
                    +mobile()
                        max-width 100%
                        right 0
                &.bancos, &.banquetas
                    flex-direction row-reverse
                    .frase-categoria
                        background-color $azul
                        padding 0 100px 0 50px
                        +mobile()
                            padding 15px
                    .img-faixa-colorida
                        right unset
                        left 11%
                        +mobile()
                            left 0
                &.decoracao
                    .frase-categoria
                        background-color $tomate
                    .img-faixa-colorida
                        right 18%
                        transform rotate(180deg)
                        +mobile()
                            right 0
            .produtos
                width 100%
                display flex
                flex-wrap wrap
                margin-bottom 10px
                position relative
                +mobile()
                    flex-direction column
                    align-items center
                .produto
                    width 246px
                    height 246px
                    margin 0 20px 20px 0
                    position relative
                    +below($tablet)
                        width 31.2%
                        height 190px
                    +mobile()
                        width 80%
                        margin 0 0 35px 0
                        height 220px
                    .img-produto
                        width 100%
                        height 100%
                        object-fit cover
                    &:hover::after
                        visibility visible
                    .overlay
                        display flex
                        align-items center
                        justify-content center
                        padding 0 20px
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        background-color $texto
                        opacity 0
                        transition opacity .5s
                        +mobile()
                            display flex !important
                            position relative
                            width 100%
                            height 25px
                            opacity 1
                            top -2px
                            background-color #FFF
                        span 
                            display block
                            notosans(12)
                            color #FFF
                            text-align center
                            text-transform uppercase
                            +mobile()
                                color $texto
                    &:hover .overlay
                        opacity 0.7
            .link-topo
                width 50px
                height 35px
                display flex
                flex-direction column
                align-items center
                justify-content center
                margin 0 0 0 auto
                transition background .5s ease-in-out
                +below($tablet)
                    width 40px
                    height 30px
                .texto-topo, .seta-topo
                    notosans(12)
                    color $texto
                    margin 0
                    text-align end
                    line-height 1
                    transition .2s ease
                    +below($tablet)
                        font-size 10px
                .seta-topo
                    margin-right 25px
                    transition .2s ease
                    +below($tablet)
                        margin-right 20px
                &:hover
                    &.poltronas
                        background-color $amarelo
                    &.bancos, &.banquetas
                        background-color $azul
                    &.decoracao
                        background-color $tomate
                    .texto-topo, .seta-topo
                        color #FFF

                  
